[submodule "podman/styles/themes"]
	path = styles/themes
	url = https://github.com/darshandsoni/asciidoctor-skins.git
[submodule "asciidoctor-extensions-lab"]
	path = asciidoctor-extensions-lab
	url = https://github.com/asciidoctor/asciidoctor-extensions-lab.git
